---
- name: Install BIND9
  apt:
    name:
      - bind9 
      - bind9utils
      - bind9-doc
      - dnsutils
    state: present
    update_cache: yes

- name: Create BIND zones directory
  file:
    path: /etc/bind/zones
    state: directory
    owner: bind
    group: bind
    mode: '0755'

- name: Deploy forward zone file
  template: 
    src: db.rainomalabra.local.j2
    dest: /etc/bind/zones/db.{{ dns_domain }}
    owner: bind
    group: bind
    mode: '0644'
  notify: restart bind9

- name: Deploy reverse zone file
  template:
    src: db.192.168.56.j2
    dest: /etc/bind/zones/db.192.168.56
    owner: bind
    group: bind
    mode: '0644'
  notify: restart bind9

- name: Condifure named.conf.local
  template:
    src: named.conf.local.j2
    dest: /etc/bind/named.conf.local
    owner: bind
    group: bind
    mode: '0644'
    #validate: /usr/sbin/named-checkconf %s
  notify: restart bind9

- name: Configure named.conf.options for local network
  blockinfile:
    path: /etc/bind/named.conf.options
    insertafter: '^\s*directory.*'
    block: |
      allow-query { localhost; {{ dns_network }}; };
      recursion yes;
      allow-recursion { localhost; {{ dns_network }}; };
    marker: "    // {mark} ANSIBLE MANAGED BLOCK"
  notify: restart bind9

- name: Ensure BIND9 is started and enabled
  systemd:
    name: bind9
    state: started
    enabled: yes

- name: Allow DNS through firewall
  ufw:
    rule: allow 
    port: '53'
    comment: 'DNS'
