---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-web
  namespace: {{ k3s_namespace }}
  labels:
    app: nginx-web
spec:
  replicas: {{ nginx_replicas }}
  selector:
    matchLabels:
      app: nginx-web
  template:
    metadata:
      labels:
        app: nginx-web
    spec:
      containers:
      - name: nginx
        image: {{ nginx_image }}
        ports:
        - containerPort: 80
          name: http
        - containerPort: 443
          name: https
        volumeMounts:
        - name: web-content
          mountPath: /usr/share/nginx/html
          readOnly: true
        - name: nginx-config
          mountPath: /etc/nginx/conf.d
          readOnly: true
        - name: ssl-certs
          mountPath: /etc/ssl/rainomalabra
          readOnly: true
      volumes:
      - name: web-content
        hostPath:
          path: /srv/www/html
          type: Directory
      - name: nginx-config
        hostPath:
          path: /opt/k3s/nginx-config
          type: Directory
      - name: ssl-certs
        hostPath:
          path: /etc/ssl/rainomalabra
          type: Directory
