---
- name: Download K3s installation script
  get_url:
    url: https://get.k3s.io 
    dest: /tmp/k3s-install.sh 
    mode: '0755'

- name: Install K3s server (control plane)
  shell: |
    INSTALL_K3S_VERSION={{ k3s_version }} \
    sh /tmp/k3s-install.sh server \
      --disable traefik \
      --write-kubeconfig-mode 644 \
      --node-ip {{ k3s_server_ip }}
  args: 
    creates: /usr/local/bin/k3s

- name: Ensure K3s service is started
  systemd: 
    name: k3s 
    state: started
    enabled: yes

- name: Wait for K3s to be ready
  command: k3s kubectl get nodes
  register: k3s_nodes
  until: k3s_nodes.rc == 0 
  retries: 5
  delay: 10
  changed_when: false

- name: Get K3s node token
  slurp: 
    src: "{{ k3s_token_file }}"
  register: k3s_token 

- name: Set K3s token as fact
  set_fact:
    k3s_node_token: "{{ k3s_token['content'] | b64decode | trim }}"

- name: Create namespace for web applications
  command: k3s kubectl create namespace "{{ k3s_namespace }}"
  register: create_ns
  failed_when: 
    - create_ns.rc != 0 
    - "'AlreadyExists' not in create_ns.stderr"
  changed_when: create_ns.rc == 0 

- name: Allow K3s ports through firewall
  ufw: 
    rule: allow 
    port: "{{ item }}"
    proto: tcp 
    comment: 'K3s'
  loop:
    - '6443'  # Kubernetes API 
    - '10250' # Kubelet
