---
- name: Download K3s installation script
  get_url: 
    url: https://get.k3s.io 
    dest: /tmp/k3s-install.sh 
    mode: '0755'

- name: Get K3s token from master
  set_fact:
    k3s_token: "{{ hostvars['server1']['k3s_node_token'] }}"
  when: hostvars['server1']['k3s_node_token'] is defined

- name: Install K3s agent (worker)
  shell: |
    INSTALL_K3S_VERSION={{ k3s_version }} \
    K3S_URL=https://{{ k3s_server_ip }}:6443 \
    K3S_TOKEN={{ k3s_token }} \
    sh /tmp/k3s-install.sh agent \
      --node-ip {{ ansible_host }}
  args:
    creates: /usr/local/bin/k3s-agent
  when: k3s_token is defined

- name: Wait for node to join cluster
  pause:
    seconds: 10
