---
- name: Setup Samba file server on server1
  hosts: server1
  become: yes
  vars_files:
    - ../group_vars/vault.yml/
  
  pre_tasks:
    - name: Update apt cache
      apt:
        update_cache: yes
        cache_valid_time: 3600
  
  roles:
    - role: ../roles/samba/

- name: Setup backup server on server2
  hosts: server2
  become: yes
  vars:
    backup_destination: /backup/samba
  
  pre_tasks:
    - name: Update apt cache
      apt:
        update_cache: yes
        cache_valid_time: 3600
  
  tasks:
    - name: Create backup directory
      file:
        path: "{{ backup_destination }}"
        state: directory
        owner: vagrant
        group: vagrant
        mode: '0755'
    
    - name: Install rsync
      apt:
        name: rsync
        state: present
    
    - name: Add server1 SSH public key to authorized_keys
      authorized_key:
        user: vagrant
        key: "{{ hostvars['server1']['ssh_public_key']['content'] | b64decode }}"
        state: present
      when: hostvars['server1']['ssh_public_key'] is defined
