services:
  nginx:
    image: nginx:alpine
    container_name: {{ nginx_container_name }}
    ports:
      - "{{ nginx_host_port }}:80"
      - "{{ nginx_host_port_ssl }}:443"
    volumes:
      - {{ web_root }}/html:/usr/share/nginx/html:ro
      - {{ web_root }}/logs:/var/log/nginx
      - /etc/ssl/rainomalabra:/etc/ssl/rainomalabra:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    restart: unless-stopped
    networks:
      - webnet

networks:
  webnet:
    driver: bridge
