---
- name: restart k3s
  systemd:
    name: k3s
    state: restarted
  when: "'managers' in group_names"

- name: restart k3s-agent
  systemd:
    name: k3s-agent
    state: restarted
  when: "'workers' in group_names"
