---
- name: Update apt cache
  apt: 
    updated_cache: yes
    cache_valid_time: 3600

- name: Upgrade all packages
  apt:
    upgrade: dist
    autoremove: yes
    autoclean: yes

- name: Install common packages
  apt: 
    name:
      - vim
      - htop
      - curl
      - wget
      - rsync
      - net-tools
    state: present

- name: Set timezone to UTC 
  timezone: 
    name: UTC
