---
- name: Allow HTTP through firewall
  ufw:
    rule: allow
    port: '80'
    proto: tcp
    comment: 'HTTP'

- name: Allow HTTPS through firewall
  ufw:
    rule: allow
    port: '443'
    proto: tcp
    comment: 'HTTPS'
