---

- name: Download BIND9
  apt:
    name: 
      - bind9 
      - bind9utils 
      - bind9-doc 
      - dnsutils 
    state: present
    update_cache: yes 
  when: inventory_hostname == 'vm1'

- name: Stop systemd-resolved 
  systemd: 
    name: systemd-resolved 
    state: stopped
    enabled: no 
    masked: yes
  when: inventory_hostname == 'vm1'
  ignore_errors: yes 

- name: Remove systemd-resolved symlink
  file:
    path: /etc/resolv.conf
    state: absent
  when: inventory_hostname == 'vm1'

- name: Create new /etc/resolv.conf for BIND9
  copy:
    content: |
      # Managed by Ansible - BIND9 DNS
      nameserver 127.0.0.1
      nameserver 8.8.8.8
      nameserver 8.8.4.4
      search {{ domain_name }}
    dest: /etc/resolv.conf
    owner: root
    group: root
    mode: '0644'
  when: inventory_hostname == 'vm1'


- name: Configure named.conf.options 
  template: 
    src: named.conf.options.j2
    dest: /etc/bind/named.conf.options 
    owner: root 
    group: bind 
    mode: '0644'
  when: inventory_hostname == 'vm1'
  #notify: restart_bind9 

- name: configure named.conf.local (zone configurations)
  template: 
    src: named.conf.local.j2
    dest: /etc/bind/named.conf.local 
    owner: root 
    group: bind 
    mode: '0644'
  when: inventory_hostname == 'vm1'
  #notify: restart_bind9

- name: Create reserve zone 192.168.56
  template:
    src: db.192.168.56.j2
    dest: /etc/bind/db.192.168.56
    owner: root
    group: bind 
    mode: '0644'
  when: inventory_hostname == 'vm1'

- name: Create zone file rainomalabra.local 
  template: 
    src: db.rainomalabra.local.j2
    dest: /etc/bind/db.rainomalabra.local
    owner: root 
    group: bind 
    mode: '0644'
  when: inventory_hostname == 'vm1'
  notify: restart_bind9

- name: Check that BIND9 is running and enabled 
  systemd: 
    name: bind9
    state: started
    enabled: yes 
  when: inventory_hostname == 'vm1'

- name: Check named.conf syntax
  command: /usr/bin/named-checkconf
  register: named_checkconf_result
  changed_when: false 
  failed_when: named_checkconf_result.rc != 0 
  when: inventory_hostname == 'vm1'

- name: Check zone-file syntax 
  command: /usr/bin/named-checkzone {{ domain_name }} /etc/bind/db.rainomalabra.local
  register: named_checkzone_result
  changed_when: false
  failed_when: named_checkzone_result.rc != 0 
  when: inventory_hostname == 'vm1'

- name: Show zone check result 
  debug:
    var: named_checkzone_result.stdout_lines 
  when: 
    - inventory_hostname == 'vm1'
    - named_checkzone_result is defined 

- name: Test DNS callback (www.rainomlabra.com)
  command: dig @localhost www.{{ domain_name }} +short
  register: dns_test_result 
  changed_when: false 
  failed_when: false 
  when: inventory_hostname == 'vm1'

- name: Show DNS test result 
  debug: 
    var: dns_test_result.stdout_lines[0]
  when: 
    - inventory_hostname == 'vm1'
    - dns_test_result is defined





