---
- name: Install Samba packages
  apt: 
    name: 
      - samba 
      - samba-common-bin 
    state: present 
    update_cache: yes

- name: Backup original smb.conf 
  copy: 
    src: /etc/samba/smb.conf 
    dest: /etc/samba/smb.conf.backup 
    remote_src: yes 
    force: no

- name: Configure Samba share 
  blockinfile:
    path: /etc/samba/smb.conf 
    block: "{{ lookup('template', 'smb.conf.j2') }}"
    marker: "# {mark} ANSIBLE MANAGED BLOCK - {{ samba_share_name }}"
    create: yes 
  notify: restart_samba

- name: Add users to Samba database
  shell: |
    (echo "{{ vault_samba_passwords[item.name] }}"; echo "{{ vault_samba_passwords[item.name] }}") | smbpasswd -a -s {{ item.name }}
  loop: "{{ users | selectattr('groups', 'search', 'sambajako') | list }}"
  when: inventory_hostname == 'vm1'
  no_log: yes

- name: Create symbolic links to shared folders in user home directories
  file:
    src: "{{ samba_share_path }}"
    dest: "/home/{{ item.name }}/{{ samba_share_path | basename }}"
    state: link
    owner: "{{ item.name }}"
    group: "{{ item.name }}"
  loop: "{{ users | selectattr('groups', 'search', 'sambajako') | list }}"
  when: inventory_hostname == 'vm1'
  no_log: yes

- name: Add vagrant user to Samba group (for backup access)
  user: 
    name: vagrant 
    groups: "{{ samba_group }}"
    append: yes 

- name: Ensure Samba service is running and enabled
  service:
    name: smbd
    state: started
    enabled: yes

- name: Ensure NetBIOS service is running and enabled  
  service:
    name: nmbd
    state: started
    enabled: yes
